.git
.gitignore
.env
.env.backup
.env.production
.gitattributes
.antigravitycli
.agents
.dockerignore
Dockerfile
docker-compose.yml
docker-compose*.yml
node_modules
npm-debug.log
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpunit.cache
.phpactor.json
.fleet
.idea
.nova
.vscode
.zed
auth.json
public/build
public/hot
public/storage
_ide_helper.php
phpunit.xml
package.json
package-lock.json
vite.config.js
skills-lock.json
README.md
tmp
tests
